@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0052)https://tuyensinh.uet.vnu.edu.vn/xettuyen/dangky.php -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tags-->
    <!-- Title Page-->
    <title>Đăng ký</title>
    <link rel="icon" type="image/png" href="./đăng ký_files/logo UET 2009.png">
    <script src="./đăng ký_files/jquery-3.4.1.min.js.tải xuống"></script>
    <!-- Icons font CSS-->
    <link href="~/Content/login/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Content/login/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Vendor CSS-->
    <link href="~/Content/login/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/login/daterangepicker.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/Content/login/main.css" rel="stylesheet" media="all">
    <style>
        body {
            background-image: url("../../Content/img/images.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <form method="POST" name="frmXettuyen" enctype="multipart/form-data" action="/Home/Register">

        <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <h1 class="title1">ĐĂNG KÝ TÀI KHOẢN</h1>
                    <div class="card-body">
                        <div class="input-group">
                            <div class="input-group-logo">
                                <img src="~/Content/img/logo.jpg" width="100" height="100">
                            </div>
                        </div>

                        <div class="row row-space">
                            <div class="input-group" style="width : 100%;">
                                <div class="p-t-15">

                                    <h3 style="color:red">

                                        @Html.ValidationSummary(false, "")
                                    </h3>


                                </div>
                            </div>

                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group" style="width : 100%;">
                                    <div class="p-t-15">
                                        <label class="label">Họ và tên</label>
                                        <input class="input--style-4" type="text" name="name" id="name" placeholder=""
                                               required="" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">

                                <div class="input-group">

                                    <div class="p-t-15">
                                        <label class="label">Số CMND/CCCD</label>
                                        <input style="border:groove" class="input--style-4" type="text" name="identity_card" id="identity_card" placeholder=""
                                               required="" value="">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row row-space">



                            <div class="input-group" style="width:100%">
                                <div class="p-t-15">
                                    <label class="label">Địa chỉ liên hệ</label>
                                    <input class="input--style-4" name="address" id="address" placeholder="" required=""
                                           value="">
                                </div>
                            </div>




                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="p-t-15">
                                        <label class="label">Số điện thoại</label>
                                        <input class="input--style-4" type="text" name="phone" id="phone" placeholder=""
                                               required="" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="p-t-15">
                                        <label class="label">Tên đăng nhập</label>
                                        <input class="input--style-4" type="text" name="username" id="username"
                                               placeholder="" required="" value="">
                                    </div>
                                </div>
                            </div>





                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="p-t-15">
                                        <label class="label">Mật khẩu</label>
                                        <input class="input--style-4" type="password" name="password" id="password"
                                               placeholder="" required="" value="">
                                    </div>
                                </div>

                            </div>

                            <div class="col-2">
                                <div class="input-group">
                                    <div class="p-t-15">
                                        <label class="label">Mật khẩu (nhập lại)</label>
                                        <input class="input--style-4" type="password" name="password_confirm"
                                               id="password_confirm" placeholder="" required="" value="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="p-t-10">
                                        <button class="btn btn--radius-2 btn--blue" type="submit" name="butDangky"
                                                onclick="kiemtradangky()">
                                            Đăng ký
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group right">
                                    <div class="p-t-15">
                                        <a href="Index" class="btn btn--radius-2 btn--blue" type="submit"
                                           name="butDangnhap">Đăng nhập</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Jquery JS-->
                        <script src="./đăng ký_files/jquery.min.js.tải xuống"></script>
                        <!-- Vendor JS-->
                        <script src="./đăng ký_files/select2.min.js.tải xuống"></script>
                        <script src="./đăng ký_files/moment.min.js.tải xuống"></script>
                        <script src="./đăng ký_files/daterangepicker.js.tải xuống"></script>
                        <!-- Main JS-->
                        <script src="./đăng ký_files/global.js.tải xuống"></script>
                        <script>
                            function kiemtradangky() {

                                var err = "";
                                var ok = 0;
                                var txtHoten = document.getElementsByName("name").val();
                                var txtCMND = document.getElementsByName("id").val();
                                var txtpass = document.getElementsByName("password").val();
                                var txtpassconfirm = document.getElementsByName("password_confirm").val();
                                if (txtHoten.length == 0) {
                                    err = err + "Chưa nhập đúng họ tên";
                                    ok = 1;
                                }
                                if (txtCMND.length == 0) {
                                    err = err + "Chưa nhập đúng CMND";
                                    ok = 1;
                                }
                                if (txtpass != txtpassconfirm || txtpass.length == 0) {
                                    err = err + "Chưa nhập mật khẩu hoặc mật khẩu không trùng";
                                    ok = 1;
                                }
                                if (ok == 0) {
                                    return true;
                                }
                                else {
                                    alert(err);
                                    return false;
                                }
                            }
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </form>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
<div style="position: absolute; top: 0px;"></div>


</html>
<style>
    .input--style-4{
        border:groove
    }
</style>