<div class="row" style="margin-left:20px ; margin-top:50px; margin-right:10px">
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-midnight-bloom">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div style="font-size:x-large" class="widget-heading">Tổng số hồ sơ:</div>
                    <div>
                        Nam:
                    </div>
                    <div>
                        Nữ:
                    </div>
                </div>
                <div class="widget-content-right">
                   
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-arielle-smile">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div style="font-size:x-large"  class="widget-heading">Miền bắc</div>
                    <div>
                        Nam:
                    </div>
                    <div>
                        Nữ:
                    </div>
                </div>
                <div class="widget-content-right">
                   
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-grow-early">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div style="font-size:x-large"  class="widget-heading">Miền Nam</div>
                    <div>
                        Nam:
                    </div>
                    <div>
                        Nữ:
                    </div>
                   
                </div>
                <div class="widget-content-right">
                    
                </div>
            </div>
        </div>
    </div>
    @*<div class="d-xl-none d-lg-block col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-premium-dark">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Products Sold</div>
                    <div class="widget-subheading">Revenue streams</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-warning"><span>$14M</span></div>
                </div>
            </div>
        </div>
    </div>*@
</div>