
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    string success = (string)ViewBag.mess;
}
<form method="POST" name="frmChangPassword" enctype="multipart/form-data" action="/User/ChangePassWord">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">

            <h1 class="title1">Đổi mật khẩu</h1>
            <div class="card-body">
                <div class="input-group">

                </div>
                <br />
                @{
                    if (success != "Thành công")
                    {
                        <h4 style="color:red">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </h4>
                    }
                    else
                    {
                        <h4 style="color:green">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        </h4>
                    }

                }




                <div class="input-group">
                    <div class="input-group">
                        <label class="label">Mật khẩu cũ</label>
                        <input class="input--style-4" type="password" name="password_old" placeholder="" required>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group">
                        <label class="label">Mật khẩu mới</label>
                        <input class="input--style-4" type="password" name="password_new" placeholder="" required>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group">
                        <label class="label">Nhập lại mật khẩu</label>
                        <input class="input--style-4" type="password" name="confirmpassword_new" placeholder="" required>
                    </div>
                </div>


                <br>
                <div class="input-group center">
                    <div class="input-group">
                        <div class="p-t-15">
                            <button href="" class="btn btn--radius-2 btn--blue" type="submit" name="btn_xacnhan">Xác nhận</button>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    </form>
    <script>

    </script>
